<!DOCTYPE html>

<html>
    <head>
        <title>Informazioni</title>
        <link rel = "icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="div1">
            {{>header}}
            <p>
                Questo sito è stato creato da Kristijan Cucukov. Usa dati prelevati da mapbox.com e darksky.net
            </p>
        </div>
        {{>footer}}
    </body>

</html>