<!DOCTYPE html>

<html>
    <head>
        <title>Aiuto</title>
        <link rel = "icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="div1">
            {{>header}}
            <p>{{helpText}}</p>
        </div>
        {{>footer}}
    </body>

</html>