<!DOCTYPE html>

<html>
    <head>
        <title>Meteo</title>
        <link rel = "icon" href="/image/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>

    <body>
        <div class="div1">
            {{>header}}

            

            <form>
                <input placeholder="Location">
                <button>Cerca</button>
            </form>

            <p id='message-1'></p>
            <p id='message-2'></p>

        </div>
        
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>

</html>